# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
bin/
lib/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Project specific
runs/

# Operating System Files
.DS_Store
Thumbs.db

# Secrets (Crucial!)
.env